.hero {
    background-color: #AB263A;
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 48px;
  }
  
  .hero p {
    font-size: 20px;
  }
  
  /* Categories Section */
  .categories {
    margin: 40px 0;
  }
  
  .categories h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .categoryGrid {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .categoryCard {
    background-color: #0053c0;
    color: white;
    padding: 20px;
    flex: 1 1 calc(25% - 20px);
    text-align: center;
        border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .categoryCard:hover {
    transform: scale(1.05);
  }
  
  .categoryCard h3 a {
    color: white;
    text-decoration: none;
  }
  
  .categoryCcard h3 a:hover {
    text-decoration: underline;
  }
  
  /* Product Grid Section */
  .products {
    margin: 40px 0;
  }
  
  .products h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .productGrid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .productCard {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    flex: 1 1 calc(33.333% - 20px);
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .productCard:hover {
    transform: scale(1.05);
  }
  
  .productCard img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .productCard h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .productCard p {
    font-size: 18px;
    color: #c38eff;
    margin-bottom: 15px;
  }
  
  .productCard .btn {
    background-color: #333;
    color: #c38eff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .productCard .btn:hover {
    background-color: #ffffff;
  }

