
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #eef2f7;
}

.form {
 background-color: #f5f5f5;
 padding: 40px;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 width: 400px;
 max-width: 100%;
}

.form div {
  margin-bottom: 15px;
}

.labels {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.inpt {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.inpt:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  height: 50px;  
  width: 100%;
  background-color: #007bff;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  outline: none;
}


.btn:hover {
  background-color: #10006b;
  color: white;
}

.errorMsg {
  color: red;
}

