.pageContainer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.productsContainer {
    flex: 1;
    margin-right: 10px; 
}

.cartContainer {
    width: 700px;
    max-height: 90vh;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 2rem;
    overflow-y: auto;
    margin-left: 1rem; 
}

.cartContainer h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.cartContainer table {
    width: 100%;
    border-collapse: collapse;
}

.cartContainer th, .cartContainer td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid var(--secondary-color);
}

.cartContainer th {
    background-color: var(--primary-color);
    color: white;
}

.cartContainer td {
    background-color: var(--background-color-dark);
}

.cartContainer .total {
    margin-top: 1rem;
    font-weight: bold;
    text-align: right;
    font-size: 1.125rem;
    color: var(--primary-color);
}

.checkoutButton{
    background-color: #79d80d; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}